/*#calendarBody{*/
    /*!*width:800px;*!*/
    /*!*height:600px;*!*/
    /*background: #ecd100;*/
    /*display: flex;*/

/*}*/
.week-header{
    width: 100px;
    height: 50px;
    margin: 5px;
    background: #9fc5e8;
    text-align: center;
    line-height: 50px;
}
.date-div{
    width: 100px;
    height: 50px;
    margin: 5px;
    background-color: #fff;
    /*box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);*/
    border: 1px solid #eee;
    text-align: center;
    line-height: 50px;
}